/* main */

main {
    position: relative;
    top: 100px;
    z-index: 1;
}

main .section .section-title {
    font-size: 32px;
    text-align: center;
    font-weight: normal;
    animation: popup 300ms linear;
}


main .section .section-subtitle {
    padding-top: 10px;
    text-align: center;
}


