<section class="container-fluid">
    <header>
        <div class="logo">K.A.S.S</div>
        <div class="button">
            <i class="fa fa-bars"></i>
        </div>
    </header>
        <nav class="navigation">
            <ul class="list">
                <li class="list-item"><a href="/" class="nav-link active">Home</a>
                </li>
                <li class="list-item"><a href="#" class="nav-link">Articles</a></li>
                <li class="list-item"><a href="#" class="nav-link">Administration</a></li>
                <li class="list-item"><a href="#" class="nav-link">S.R.C</a></li>
                <li class="list-item"><a href="#" class="nav-link">Programmes</a></li>
                <li class="list-item"><a href="#" class="nav-link">Houses</a></li>
                <li class="list-item"><a href="#" class="nav-link">Alumni</a></li>
                <li class="list-item"><a href="/panel" class="nav-link">Admin</a></li>
                <li class="list-item"><a href="#" class="nav-link">About</a></li>
            </ul>
        </nav>
    <main class="main">
        <div class="section">
            <div class="section-title">
                Ağ”«ğ”¤ğ”©ğ”¦ğ” ğ”ğ”« Sğ”¢ğ”«ğ”¦ğ”¬ğ”¯ Hğ”¦ğ”¤ğ”¥ Sğ” ğ”¥ğ”¬ğ”¬ğ”©, Kğ”²ğ”ªğ”ğ”°ğ”¦
            </div>
            <div class="section-subtitle">
                <cite>Disciples... <small><i>No Size</i></small></cite> !!!
            </div>
        </div>
    </main>
    <footer>
        Designed and Developed by the <i>KASS</i> <strong><br>I.T CLUB and SRC-EDICOM</strong>
    </footer>
</section>

