<section class="container-fluid">
    <header>
        <div class="logo ml-3">KASS</div>
        <div class="button">
            <span class="hamburger"></span>
        </div>
                <div class="backdrop" style="display: block;"></div>
        <nav class="navigation shadow-lg">
                <ul class="list">
                    <li class="list-item"><a href="#" class="nav-link"><i class="fa fa-home"></i>Home</a></li>
                    <li class="list-item"><a href="#" class="nav-link"><i class="fa fa-info"></i>About</a></li>
                    <li class="list-item"><a href="#" class="nav-link"><i class="fa fa-mobile"></i>Login</a></li>
                </ul>
        </nav>
    </header>
    <main>
        <div class="section">
            <p class="section-title">Anglican Senior High School</p>
            <p class="section-subtitle"><i>Disciples <cite>No Size</cite></i>...</p>
            <p class="section-info">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem excepturi ipsum at suscipit beatae cum error tempore accusantium ad adipisci!</p>
        </div>
    </main>
    <footer class="foot bg-dark shadow-lg text-light">
        <center><span>Designed and Developed by KASS <strong>IT CLUB<sup>&reg;</sup></strong></span></center>
    </footer>
</section>