<section class="container-fluid">
	<header>
			<div class="logo">ğ“š.ğ“.ğ“¢.ğ“¢</div>
			<div class="button">
				<i class="fa fa-bars"></i>
			</div>
	</header>
	 <nav class="navigation">
            <ul class="list">
                <hr>
                <li class="list-item"><a href="/" class="nav-link">Home</a>
                </li><hr>
                <li class="list-item"><a href="#" class="nav-link">Articles</a></li><hr>
                <li class="list-item"><a href="#" class="nav-link">Administration</a></li><hr>
                <li class="list-item"><a href="#" class="nav-link">S.R.C</a></li><hr>
                <li class="list-item"><a href="#" class="nav-link">Programmes</a></li><hr>
                <li class="list-item"><a href="#" class="nav-link">Houses</a></li><hr>
                <li class="list-item"><a href="#" class="nav-link">Alumni</a></li><hr>
                <li class="list-item"><a href="/panel" class="nav-link">Admin</a></li><hr>
                <li class="list-item"><a href="#" class="nav-link">About</a></li><hr>
            </ul>
        </nav>
	<main>
		<form class="input-content">
			<div class="input-box">
				<span><i class="fa fa-user"></i></span>
				<input type="text" name="" placeholder="Username" required>
			</div>	
			<div class="input-box">
				<span><i class="fa fa-key"></i></span>
				<input type="password" name="" placeholder="Password" required>
			</div>
			<button type="button"><i class="fa fa-home"></i>Go Back</button>
			<button type="submit" class="back"><i class="fa fa-download"></i>Log In</button>
		</form>
	</main>	
</section>
																		
