<section class="container-fluid">
	<header>
			<div class="logo">K.A.S.S</div>
			<div class="button">
				<span class="bars"></span>
			</div>
	</header>
	 <nav class="navigation">
            <ul class="list">
                <li class="list-item"><a href="/" class="nav-link">Home</a>
                </li>
                <li class="list-item"><a href="#" class="nav-link">Articles</a></li>
                <li class="list-item"><a href="#" class="nav-link">Administration</a></li>
                <li class="list-item"><a href="#" class="nav-link">S.R.C</a></li>
                <li class="list-item"><a href="#" class="nav-link">Programmes</a></li>
                <li class="list-item"><a href="#" class="nav-link">Houses</a></li>
                <li class="list-item"><a href="#" class="nav-link">Alumni</a></li>
                <li class="list-item"><a href="/panel" class="nav-link active">Admin</a></li>
                <li class="list-item"><a href="#" class="nav-link">About</a></li>
            </ul>
        </nav>
	<main class="main">
		<form class="input-content">
			<div class="input-box">
				<span><i class="fa fa-user"></i></span>
				<input type="text" name="" placeholder="Username" required>
			</div>	
			<div class="input-box">
				<span><i class="fa fa-key"></i></span>
				<input type="password" name="" placeholder="Password" required>
			</div>
			{{!-- <button type="button"><i class="fa fa-sign-in"></i>Go Back</button> --}}
			<center><button type="submit" class="btn btn-primary back"><i class="fa fa-sign-in"></i>Log In</button></center>
		</form>
	</main>	
</section>
																		
