<section class="container-fluid">
    <header>
			<div class="logo">K.A.S.S</div>
			<div class="button">
				<span class="bars"></span>
			</div>
	</header>
	 <nav class="navigation">
            <ul class="list">
                <li class="list-item"><a href="/" class="nav-link">Home</a>
                </li>
                <li class="list-item"><a href="/articles" class="nav-link">Articles</a></li>
                <li class="list-item"><a href="/administration" class="nav-link">Administration</a></li>
                <li class="list-item"><a href="/src" class="nav-link">S.R.C</a></li>
                <li class="list-item"><a href="/programmes" class="nav-link">Programmes</a></li>
                <li class="list-item"><a href="/houses" class="nav-link">Houses</a></li>
                <li class="list-item"><a href="/alumni" class="nav-link">Alumni</a></li>
                <li class="list-item"><a href="/panel" class="nav-link">Admin</a></li>
                <li class="list-item"><a href="#" class="nav-link">About</a></li>
            </ul>
        </nav>
        <main class="main" style="text-align: center; display: flex; align-items: center; justify-content: center;">
            <h1>Under Development</h1>
        </main>
</section>